<div class="menuContainer">
  <app-menu></app-menu>
  <div>
    <button class="btn-submitLeft" (click)="inicio()">
      Inicio
    </button>
  </div>
  <div>
    <button class="btn-submit" (click)="toggleSidebar()">
      Mi perfil
    </button>
  </div>
  <div class="sidebar-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <div class="sidebar">
      <button class="close-btn" (click)="closeSidebar()">
        &#9664; 
      </button>
      <div class="user-info">
        <p>{{ username }}</p>
        <img [src]="userPhoto" alt="User Photo" class="user-photo">
        <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
      </div>

    </div>
  </div>
</div>
  
<div class="admin-panel">
    <div id="go-to">Ir a:</div>
    <a  (click)="irIniciarStream()" class="btn btn-green">Iniciar Stream</a>
    <a  (click)="irChats()" class="btn btn-red">Ver Chats</a>
    <a (click)="irRegistro()" class="btn btn-green">Registrar Usuarios</a>
    <a (click)="irUsuarios()" class="btn btn-red">Ver Usuarios</a>
  </div>
