* {
  box-sizing: border-box;
}

.main {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuContainer,
.chat-container,
.app-users-type {
  width: 100%;
  height: 100%;
}

.menuContainer {
  height: 10%;
  z-index: 9999;
}

.videoContainer {
  padding-top: 10%;
}

.btn-submit,
.btn-submitLeft {
  font-size: var(--fontSizeMessage);
  border: none;
  border-radius: 0.4rem;
  position: fixed;
  z-index: 9999;
  height: 4%;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.btn-submit {
  background-color: var(--colorSecondary);
  right: 0;
  top: 0;
}

.btn-submitLeft {
  background-color: #d3ae39;
  left: 0;
  top: 0;
  width: 4rem;
  color: white;
}

.btn-default {
  background-color: var(--colorFourd);
  font-size: var(--fontSizeSecondary);
}

.sidebar-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  transition: right 0.3s ease;
}

.sidebar {
  padding: 20px;
  margin-top: 20%;
}

.user-info {
  font-size: var(--fontSizeMessage);
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
}

.saldo-btn,
.logout-btn {
  margin-top: 20%;
  padding: 8px 16px;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.saldo-btn {
  background-color: var(--colorSecondary);
  color: #fff;
}

.logout-btn {
  background-color: #f00;
  color: #fff;
}

.live-admin {
  display: flex;
  flex-direction: row;
}

.live-status {
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: rgb(128, 121, 121);
  border-radius: 25%;
  color: white;
}

.fa-eye {
  margin-right: 5px;
  color: #007BFF;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-open {
  right: 0;
}

.input-container {
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
  bottom: 0;
  margin-top: auto;
  position: fixed;
}

.users-type {
  height: 5%;
  margin-bottom: 0.4%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup {
  background: black;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #f00;
}

.popup-content {
  text-align: center;
}

.user-list {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.apuesta-container {
  width: 80%;
  margin: 20px auto;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.match-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.team-red,
.team-green {
  width: 45%;
  padding: 10px;
  border-radius: 8px;
  color: white;
  border: 2px solid;
}

.team-red {
  background-color: rgba(255, 0, 0, 0.7);
  border-color: red;
}

.team-green {
  background-color: rgba(0, 128, 0, 0.7);
  border-color: green;
}

.team-red:hover,
.team-green:hover {
  background-color: gold;
}

.team-green p,
.team-red p {
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.apuestas-en-vivo h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-decoration: underline;
}

.apuestas-en-vivo ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.apuestas-en-vivo ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

.estado-jugando {
  color: #f00;
  font-weight: bold;
}

.input-apuesta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="number"] {
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.boton-apostar {
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.boton-apostar:hover {
  background-color: gold;
}

@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row; /* Cambia la dirección del flujo a horizontal */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between; /* Espaciado entre video y chat */
  }
  .videoContainer {
    position: absolute;
    left: 1rem;
    width: 60%;
    height: auto;
  }
  .live-admin {   
    position: absolute; /* Para superponerlo sobre otros elementos */
    top: 1rem; /* Ajusta según necesites */
    right: 1rem;
    padding-top: 5rem;
  }
  .chat-container {
    position: relative;
    margin-top: 8rem;
    width: 60%;
    height: 100%; /* Asegura que el contenedor del chat use toda la altura */
    display: flex;
    flex-direction: column;
  }

  .input-container {
    position: relative; /* Ajusta para mantener el input dentro del contenedor */
    margin-top: auto; /* Posiciona el input al final del chat */
  }
}

