/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #000000;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-content h3 {
  margin-bottom: 15px;
}

.modal-content p {
  margin-bottom: 20px;
}

.confirm-button, .cancel-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.confirm-button {
  background-color: #f44336; /* Rojo para eliminar */
}

.cancel-btn-borrar {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #4caf50; /* Verde para cancelar */
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-item {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    position: relative;
    max-width: 300px; /* Limitar el ancho para una mejor adaptabilidad */
  }
  
  .username {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .edit-button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .edit-menu {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .edit-menu label {
    display: block;
    margin-bottom: 5px;
  }
  
  .edit-menu input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .save-button,
  .cancel-button {
    width: 48%;
    padding: 8px;
    margin-right: 2%;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  .borrar-btn {
    padding: 8px;
    width: 45%;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color:  #f44336; /* Verde para cancelar */
  }
  @media screen and (min-width: 800px) {
  
    .username {
        color:black;
      }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {

	.edit-menu input:focus {
		font-size: 13px;
	}
}